body {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background: #E56767;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 100px;
    background: #EC9393;
    position: relative;

}

.logo {
    clip-path: polygon(0% 0%, 0% 100%, 50% 90%, 100% 100%, 100% 100%, 100% 100%, 100% 0%);
    background: url(./logome.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 10px;
    mix-blend-mode:luminosity;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), -6px 0px 40px rgba(255, 255, 255, 0.26);
    animation:fall 0.5s ease-in 1 forwards 1s;
}
@keyframes fall{
    to{
        width: 239px;
       height:270px;
    }
}

main {
    margin: 0 auto;
    width: 70vw;
    background: #C93131;
    border-radius: 38px;
    padding: 10px 50px;

}

main h1 {
    margin-top: 170px;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
    text-align: center;
    color: #AAF6ED;
    font-size: 48px;
    letter-spacing:-0.5em;
}
/* h11 gets this class after document loads */

main h1.active{
    animation:reveal 0.5s ease-in 1 forwards 1s;
}

@keyframes reveal{
    to{
        letter-spacing:0.3px;
    }
}


.whydata {
    max-width: 100%;
    margin: 10px auto 50px auto;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background: #F05B5B;
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.25), -2px -3px 11px rgba(224, 207, 207, 0.25);
    border-radius: 15px;
    padding: 10px;
    line-height:1.5;
    font-weight: bold;
    font-size:1rem;
    cursor:move;
    letter-spacing:0.8px;
    /* transition:letter-spacing 1s ease-in-out; */
}
/* .whydata:hover{
letter-spacing: 0.8px;
} */
.whydata p:not(:nth-last-child(1)){
    /* text-decoration: underline;
    text-decoration-color:rgb(252, 252, 252);
    text-underline-offset: 2px;
    text-decoration-thickness: 2px; */
    box-sizing: content-box;
    margin-bottom:10px;
    
}

.links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "no1 no2 no3"
                         "a   b   c";
    color: #F2D0D0;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.links .no1{
    grid-area: no1;
    margin: auto;
}
.links .no2{
    grid-area: no2;
    margin: auto;

}
.links .no3{
    grid-area: no3;
    margin: auto;

}
.links .a{
    grid-area: a;
}
.links .b{
    grid-area: b;

}
.links .c{
    grid-area: c;

}


.links a {
    text-decoration: none;
    color: #F2D0D0;
    text-align: center;
    height: 30px;
    margin: 10px;
    position: relative;
    outline:none;
    width: 200px;
    line-height: 30px;
    z-index: 100;
    background: #F05B5B;
    border-radius: 4px;
    padding:15px;
}

.links a::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 4px 6px 11px rgba(0, 0, 0, 1), -2px -3px 11px rgba(224, 207, 207, 1);
    background: transparent;
    opacity:0.4;

}

.links a:hover,
.links a:focus {
    transition: all 0.3s ease-in-out;
    background: #F2D0D0;
    color: #F05B5B;
    transform: scale(1.05);

}

.links a:hover ::after,
.links a:focus ::after {
    transform: scale(1.05);
   opacity: 1;

}

.infoDiv {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: #F05B5B;
    box-shadow: 4px 6px 16px rgba(0, 0, 0, 0.25), -2px -3px 11px rgba(224, 207, 207, 0.25);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 15px;
}

div.shapescontainer {
    overflow: hidden;
}

.shapes {
    position: absolute;
    z-index: 0;
    animation: move 10s linear infinite forwards alternate;
    opacity: 0.005;
    transform: translate(-50% ,-50%);
    transition: opacity 0.4s ease-in-out;
}

@keyframes move {
    to {
        top: var(--top);
        left: var(--left);
    }
}

@media only screen and (max-width: 1050px){
    .links{
        grid-template-columns: 1fr auto;
        grid-template-areas: "no1 a"
                             "no2 b"
                             "no3 c";
    }
}

@media only screen and (max-width: 650px){
    .links{
        grid-template-columns: 1fr;
        grid-template-areas: "no1"
                             "a"
                             "no2"
                             "b"
                             "no3" 
                             "c";
    }
    main h1{
        font-size:1.5rem;
    }
}

